@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&family=Overpass:wght@400;600&family=Poppins:wght@400;600&family=Roboto:wght@300;400;500;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(204, 204, 204);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  background: rgb(0, 33, 65);
}
.nav__brand {
  text-transform: uppercase;
  padding-left: 5rem;
}

.nav__menu {
  display: flex;
  align-items: center;
  padding-right: 6rem;
  justify-content: space-between;
  gap: 3rem;
}

.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 50vw;
    background: rgb(0, 33, 65);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
}
/* Active Class */
.nav__active {
  transform: translateX(0%);
}

.nav__brand {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
}
.nav__brand:hover {
  color: skyblue;
}
.nav__link {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}
.nav__link:hover {
  color: skyblue;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}
/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}

.btn {
  font-size: 1.8rem;
  background: transparent;
  color: #fff;
  border-radius: 5px;
  padding: 6px 16px;
  cursor: pointer;
  border: none;
  background-color: rgb(105, 121, 90);
  font-family: "Roboto Condensed", sans-serif;
}
.btn:hover {
  background-color: rgb(126, 146, 109);
  color: #fff;

  /* padding: 6px 18px;
  transition: all 0.3s ease-out;
  border-radius: 4px;
  border: 2px solid var(--primary); */
}
