@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
* {
    font-family: 'Roboto Condensed', sans-serif;
  }

  ul{
    font-weight: 100;
  }

  .body{
    /* background-image: url(../src/imgs/background.png); */
    background-size: cover;
    height: 80vh;
  }